body {
    font-family: "Roboto", sans-serif;
    color: black;
    background-color: #ffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.title-web {
font-family: "Raleway", sans-serif;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.title-studio {
font-family: "Raleway", sans-serif;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.navigator {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.adresa {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}